.card {
  background-color: #87ceeb;
  border-radius: 20px;
  width: 250px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 10px;
  position: relative;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card-container {
  width: 200vh;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  max-width: 70%;

}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 20px;
}

.button {
  background-color: #ffffe0;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.modal-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}

.modal-button::after{
  background-color: #87ceeb;
}

.modal-button-notf {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #90CAF9;
}

.notification-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.add-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.photo-selection {
  display: flex;
  align-items: center;
  gap: 10px;
}

textarea {
  width: 100%;
  border-radius: 5px;
}


.input-group label {
  margin-bottom: 5px;
}

.input-group input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.viñeta{
  width: 30px;
  height: 100%;
  background-color: #7bacd5;
  position: absolute;
  right: 0.5%;
  bottom: 0%;
  border-bottom-right-radius:20px ;
  border-top-right-radius:20px ;
  cursor: pointer;
}

.viñeta.green {
  background-color: green;
}

.viñeta.red {
  background-color: red;
}

.bodi-lp{
  width: 100vh;
  height: 100%;
}